@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 40% 96%;
        --foreground: 220 67% 0%;
        --muted: 214 32% 91%;
        --muted-foreground: 220 13% 27%;
        --popover: 0 0% 100%;
        --popover-foreground: 220 67% 0%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 0%;
        --border: 214 32% 91%;
        --input: 220 2% 93%;
        --primary: 217 91% 60%;
        --primary-foreground: 0 0% 100%;
        --secondary: 220 7% 91%;
        --secondary-foreground: 220 7% 31%;
        --accent: 217 49% 88%;
        --accent-foreground: 220 13% 22%;
        --destructive: 347 77% 50%;
        --destructive-foreground: 0 0% 100%;
        --ring: 213 27% 84%;
        --radius: 0.5rem;
        --link: 217 91% 60%;
    }

    html.dark,
    html[data-theme='dark'] {
        --background: 220 7% 8%;
        --foreground: 220 16% 99%;
        --muted: 225 7% 11%;
        --muted-foreground: 220 13% 73%;
        --popover: 225 7% 11%;
        --popover-foreground: 220 16% 99%;
        --card: 225 7% 11%;
        --card-foreground: 0 0% 100%;
        --border: 220 13% 16%;
        --input: 220 13% 16%;
        --primary: 213 94% 68%;
        --primary-foreground: 0 0% 100%;
        --secondary: 220 7% 9%;
        --secondary-foreground: 220 7% 69%;
        --accent: 220 13% 16%;
        --accent-foreground: 220 13% 76%;
        --destructive: 350 89% 60%;
        --destructive-foreground: 0 0% 100%;
        --ring: 220 7% 69%;
        --link: 213 94% 68%;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: theme('fontFamily.sans');
        font-feature-settings: 'ss01';

        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
